html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    font-family: Montserrat, 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

/* HERO */
.Hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #222;
}

/* HEROHEADER */
.Hero-header {
    height: 87px;
    z-index: 10;
    width: 100%;
}

.Hero-header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Hero-header-item-container {
    height: 100%;
    display: flex;
    width: 700px;
    max-width: 750px;
    justify-content: space-between;
    align-items: center;
}

.Hero-header-item {
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

}

.Hero-image img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: .6;
}

.Logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

/* HEADERTEXT */
.Hero-text {
    z-index: 10;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start;
    margin-left: 10vw;
    width: 500px;
}

.Hero-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;

}

.Hero-text-heading {
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 15px;
}

.Hero-text-subheading {

    font-style: normal;
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 44px;
    line-height: 54px;
}

.Hero-text-button {
    width: 225px;
    color: #fff;
    height: 55.06px;
    background-color: transparent;
    border: solid 2px #fff;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
}

/* DIVIDER */
.Divider_md {
    height: 100px;
    width: 100%;
    background-color: #2B2B2B;
}

/* WORK */
.Work {
    display: flex;
    height: 100vh;
    width: 100%;
}

.Work-text {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.Work-text-container {
    width: 460px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Work-image {
    width: 50%;
    background-color: #222;
    height: 100%;

}

.Work-image img {
    width: 100%;
    height: 100%;
    opacity: .5;
    object-fit: cover;
}

.Work-text-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
}

.Work-text-para {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #474747;
}

/* WORKSEMI */
.WorkSemi {
    height: 50vh;
    width: 100%;
    display: flex;
}

.WorkSemi-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.WorkSemi-text-container {
    width: 460px;
    height: 228px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.WorkSemi-image {
    width: 50%;
    height: 100%;
    background-color: #222;
}

.WorkSemi-image img {
    height: 100%;
    opacity: .5;
    object-fit: cover;
    width: 100%;
}

.WorkSemi-text-para {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #474747;
}

.WorkSemi-text-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
}

/* CONTACTPARA */
.ContactPara {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactPara-container {
    width: 715px;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

.ContactPara-heading {
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
}

.ContactPara-para {
    width: 460px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #474747;
}


/* GEO */
.Geo {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    margin-bottom: -50px;
    z-index: 10;
    justify-content: center;
}

.Geo-block {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: -120px;
    border-radius: 15px;
}

.Geo-block-image {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #222;

}

.Geo-block-image:hover img {
    opacity: .3;
}

.Geo-block-image img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: all 1s;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: .5;
}

.Geo-block-heading {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    position: absolute;
}

/* FOOTER */
.Footer {
    height: 460px;
    background-color: #2B2B2B;
    display: flex;
    color: #fff;
}

.Footer-left {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.Footer-left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Footer-right {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.Footer-right-container {
    display: flex;
    flex-direction: column;

}

.Footer-left-para {
    width: 355px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.Footer-left-heading {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.Footer-left-copy {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}